


/*************************
*******Typography******
**************************/

/* arabic */
@font-face {
	font-family: 'Droid Arabic Kufi';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Kufi.woff2'); unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  background: #fff;
  font-family: "Droid Arabic Kufi", sans-serif;
  color:#333;
  line-height:1.6em;
  direction:rtl;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight:500; 
    font-family:'Droid Arabic Kufi', sans-serif;
	color:#333;
}

h1{
  font-size: 36px;
}

h2{
  font-size: 18px;
}

h3 {
	font-size: 14px;
	color: #787878;
	font-weight: 400;
	line-height: 24px;
}


h4{
  font-size: 16px;
}

a {
	color: #174884;
	-webkit-transition: color 300ms, background-color 300ms;
	-moz-transition: color 300ms, background-color 300ms;
	-o-transition: color 300ms, background-color 300ms;
	transition: color 300ms, background-color 300ms;
}

a:hover, a:focus {
  color: #d43133;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}


.btn-primary {
	padding: 8px 20px;
	background: #174884;
	color: #fff;
	border-radius: 4px;
	border: none;
	margin-top: -13px;
}


	.btn-primary:hover,
	.btn-primary:focus {
		background: #174884;
		outline: none;
		box-shadow: none;
	} 

.btn-transparent {
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
}

.btn-transparent:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

a:hover,
a:focus {
  color: #000;
  text-decoration: none;
  outline: none;
}

.dropdown-menu {
  margin-top: -1px;
  min-width:180px;
}
/*************************
*******.dropdown-menu.columns-2******
**************************/
.dropdown-menu.columns-2 {
	 margin-top: -1px;
		min-width: 400px;
}

.dropdown-menu.columns-3 {
	 margin-top: -1px;
		min-width: 780px;
}

.multi-column-dropdown {
		list-style: none;
		margin-right:-35px;
		}
		
.multi-column-dropdown li a {
		display: block;
		padding:3px 20px;
		color: #333;
		text-align:right;
}

	.multi-column-dropdown li a:hover {
		/*background-color: #174884;
		color: #fff;*/
	}
.dropdown-menu.multi-column .dropdown-menu {
	 margin-top: -1px;
        display: block !important;
        position: static !important;
        margin: 0 !important;
        border: none !important;
        box-shadow: none !important;
        min-width:400px;
}



.center h2{
  font-size: 27px;
  margin-top: 0;
  margin-bottom: 20px;
}

.media>.pull-left{
  margin-right: 20px;
}

.media>.pull-right{
  margin-left: 20px;
}

body > section {
  padding: 20px 0;
}

.center {
  text-align: center;
  padding-bottom: 25px;
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}

.lead{
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 5px;
  padding: 5px 15px 5px;
  line-height:36px;
	}

.transparent-bg {
  background-color: transparent !important;
  margin-bottom: 0;
}

@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.breadcrumb {
	margin-top:25px;
	background-color:none;
}
.HeadingSection {
	background-color: #ffffff;
	margin-top: 18px;
	padding: 0px;
	text-align: right;
}
.head-wrap {
	 position: relative;
    margin: 0 auto;
    width: 100%;
   
}
.head-wrap > h1 {
	margin: 20px 2px 10px;
}
 .RedSpeakerCNt {
	display:block;
    position: relative;
    bottom: 8px;
    left: 10px;
    text-align: right;
	
}
.rsbtn {
    position: relative;
    height: 26px;
	margin-top:38px;
    margin-bottom: 10px;
	margin-left:150px;
    z-index: 100;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
	/*-khtml-user-select: none;*/
    -moz-user-select: none;
    -ms-user-select: none;
  /*  -o-user-select: none;*/
    user-select: none;
	}


.BoxContainer {
	border:1px solid #d0cfcf;
	background-color:#FFFFFF;
	
}

.Boxheader-sidemenu {
    border-bottom: 2px solid #d0cfcf;
	line-height: 38px;
    padding: 0 15px;
	font-size: 20px;
	text-align: center;
}


/*************************
*******Header******
**************************/

.navbar-fixed-top .navbar-toggle .icon-bar {
	background-color: #174884;
}
.help-bar {
	height: 25px;
	background: #174884;
	border: 0px solid;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	float: left;
	margin-top: 8px;
}
	
.navbar>.container .navbar-brand{
  margin-left: 0;
  
  }

.top-bar {
	padding: 10px 0;
	background-image: url('../images/footer_border.png');
	border-bottom: 1px solid #fff;
	line-height: 25px;
}

.navbar-brand {
	padding: 0;
	margin: 0;
	color: #174884;
}

.navbar-brand-logo {
	background-repeat: no-repeat;
	margin: -1px;
	height: 110px;
	width: 385px;
}



.navbar {
	border-radius: 0;
	margin-bottom: 0;
	/*background-image: url(../images/top_bg2.png);*/
	height: 130px;
	background-repeat: repeat-x;
	padding: 8px 0;
	padding-bottom: 0;
	background-color: #174884;
}

.navbar-nav {
	margin-top: -26px;
	
}

.navbar-nav>li{
	position:relative;
	display:block;
	
	
}

.navbar-fixed-top .navbar-nav > li > a {
	padding-top: 10px;
	padding-bottom: 7px;
	margin: 0;
	border-radius: 3px;
	color: #fff;
	line-height: 20px;
	display: block;
	text-align: right;
	background: #174884;
}

	.navbar-fixed-top .navbar-nav > li > a:hover {
		background-color: #fff;
		color: #333;
		text-align: right;
	}

	.navbar-fixed-top .navbar-nav > li > a:focus {
		background-color: #fff;
		color: #333;
		text-align: right;
	}

.navbar-fixed-top {
  border: none;
}

.navbar-fixed-top .navbar-brand {
  font-size: 36px;
  line-height: 50px;
  color: #fff;
}

	.navbar-fixed-top .navbar-nav > .active > a,
	.navbar-fixed-top .navbar-nav > .active > a:hover,
	.navbar-fixed-top .navbar-nav > .active > a:focus,
	.navbar-fixed-top .navbar-nav > .open > a,
	.navbar-fixed-top .navbar-nav > .open > a:hover,
	.navbar-fixed-top .navbar-nav > .open > a:focus {
		background-color: #fff !important;
		color: #333;
	}

.navbar-fixed-top .navbar-nav .dropdown-menu {
  background-color: #fff;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  border: 0;
  padding: 0;
  margin-top: 0;
  border-top: 0;
  border-radius: 0;
  left: 0;
}

.navbar-fixed-top .navbar-nav .dropdown-menu:before{
  position: absolute;
  top:0;
}

.navbar-fixed-top .navbar-nav .dropdown-menu > li > a {
 padding: 8px 15px;
  color: #333;
  text-align:right;
}

	.navbar-fixed-top .navbar-nav .dropdown-menu > li:hover > a,
	.navbar-fixed-top .navbar-nav .dropdown-menu > li:focus > a,
	.navbar-fixed-top .navbar-nav .dropdown-menu > li.active > a {
		background-color: #174884;
		color: #fff;
		text-align: right;
	}

.navbar-fixed-top .navbar-nav .dropdown-menu > li:last-child > a {
  border-radius: 0 0 3px 3px;
}

.navbar-fixed-top .navbar-nav .dropdown-menu > li.divider {
  background-color:#fff;
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-top .navbar-form {
  border-top: 0;

}



/*************************
*******Home Page******
**************************/
#header .row .col-sm-6 .dropdown-menu > li > a {
margin-right:-2px;
margin-left:-2px;
padding-right:2px;
padding-left:2px;
 padding: 2px 2px;
}

#header .navbar-nav > li {
    margin-left: -8px;
}
#about-slider {
	
}
.slider {
  position: relative;
  margin-top:110px;
}

#carousel-slider {
  position: relative;
}

#carousel-slider .carousel-indicators {
  bottom: -25px;
}

#carousel-slider .carousel-indicators li {
  border: 1px solid #ffbd20;
}

#carousel-slider a i {
  border: 1px solid #777;
  border-radius:50%;
  font-size: 28px;
  height: 50px;
  padding: 8px;
  position: absolute;
  top: 50%;
  width: 50px;
  color:#777;
}

	#carousel-slider a i:hover {
		background: #174884;
		color: #fff;
		border: 1px solid #174884;
	}

#carousel-slider {
/*.carousel-control {
  width:inherit;*/
}

#carousel-slider .carousel-control.left i {
  left:-25px
}

#carousel-slider .carousel-control.right i {
  right: -25px;
}

#carousel-slider
.carousel-control.left, 
#carousel-slider
.carousel-control.right {
  background: none;
}

.carousel-inner h2 {
	color:#FFFFFF;
}


#feature {
  background: #f2f2f2;
  padding-bottom: 30px;
}
#feature.transparent-bg {
  margin-top:-40px;
  
}
.features{
  padding: 0;
}

.feature-wrap {
  overflow: hidden;
}

.features-icons {
	margin-left:-80px !important;
}
.feature-wrap h2{
  margin-top: 10px;
  font-size:16px;
}

.feature-wrap1 h2{
  margin-top: 10px;
  font-size:16px;
}

.feature-wrap .pull-left {
  margin-right: 25px;
}

.feature-wrap i {
	font-size: 48px;
	height: 110px;
	width: 110px;
	margin: 3px;
	border-radius: 100%;
	line-height: 110px;
	text-align: center;
	background: #ffffff;
	color: #174884;
	border: 3px solid #ffffff;
	box-shadow: inset 0 0 0 5px #f2f2f2;
	-webkit-box-shadow: inset 0 0 0 5px #f2f2f2;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}

.feature-wrap h6 {
	font-size: 48px;
	height: 110px;
	width: 110px;
	margin: 3px;
	border-radius: 100%;
	line-height: 110px;
	text-align: center;
	background: #ffffff;
	color: #174884;
	border: 3px solid #ffffff;
	box-shadow: inset 0 0 0 5px #f2f2f2;
	-webkit-box-shadow: inset 0 0 0 5px #f2f2f2;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
	margin-left: 25px;
}

.feature-wrap i:hover {
	background: #174884;
	color: #fff;
	box-shadow: inset 0 0 0 5px #174884;
	-webkit-box-shadow: inset 0 0 0 5px #174884;
	border: 3px solid #174884;
}


.fa-alph {
	margin-right: 60px !important;
}
#services {
  background: #fff url(../images/services/bg_services.jpg);
  background-size: cover;
  margin-top:70px;
}

#services .lead,
#services h2{
  color: #000;
}

.services-wrap {
  padding: 40px 30px;
  background: #fff;
  border-radius: 4px;
  margin: 0 0 40px;
}

.services-wrap h3 {
  font-size: 20px;
  margin: 10px 0;
}

.services-wrap .pull-left {
  margin-right: 20px;
}

.f-circle {
	font-weight:bold;
	display:block;
/*	border:1p solid #860000;*/
	border-radius:999px;
	padding:6px 12px;
	
}
.f-text {
	text-align:center;
	/*padding-top:30px;
	margin-bottom:30px;*/
}

#middle {
	background: #fff;
	margin-top: 100px;
}
#middle1 {
  background: #fff;
  margin-top:-10px;
  padding-top:20px;
}
.middle_down {
	background: #f2f2f2;
	margin-top: 10px;
	padding-bottom: 20px;
	border-width: 1px;
	border-radius: 2px;
	border-color: #c9cfd7f7;
}
.imglogo {
	display:inline-block;
	
}
.imgBox {
	/*width:165px;
	height:50px;*/
	margin-top: 27px;
	margin-right: 30px;
	border-left-width: 1px;
	border-left-style: solid;
	border-color: #c9cfd7f7;
}
.imgBox1 {
	width:165px;
	height:50px;
	background:#024770;	
}
.skill h2{
  margin-bottom: 25px;
}
.skill1 h2{
  margin-right:25px;
}

.progress-wrap{
  position: relative;
}

.progress .color1,
.progress .color1 .bar-width{
  background: #2d7da4;
}

.progress .color2,
.progress .color2 .bar-width{
  background: #6aa42f;
}

.progress .color3,
.progress .color3 .bar-width{
  background: #ffcc33;
}

.progress .color4,
.progress .color4 .bar-width{
  background: #db3615;
}

.progress, 
.progress-bar {
  height: 15px;
  line-height: 15px;
  background: #e6e6e6;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  overflow: visible;
  text-align: left;
}

.progress{
  position: relative;
}

.progress .bar-width{
  position: absolute;
  width: 40px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  top: -30px;
  border-radius: 2px;
  margin-left: -30px;
}

.progress span{
  position: relative;
}

.progress span:before{
  content: " ";
  position: absolute;
  width: auto;
  height: auto;
  border-width: 8px 5px;
  border-style: solid;
  bottom: -15px;
  right: 8px;
}

.progress .color1 span:before{
  border-color: #2d7da4 transparent transparent transparent;
}

.progress .color2 span:before{
  border-color: #6aa42f transparent transparent transparent;
}

.progress .color3 span:before{
  border-color: #ffcc33 transparent transparent transparent;
}

.progress .color4 span:before{
  border-color: #db3615 transparent transparent transparent;
}



.panel-default > .panel-heading {
	color: #174884;
	background-color: #fff;
	border-color: #e4e5e7;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

	.panel-default > .panel-heading a {
		display: block;
		padding: 10px 15px;
	}

		.panel-default > .panel-heading a:after {
			content: "";
			position: relative;
			top: 1px;
			display: inline-block;
			font-family: 'Glyphicons Halflings';
			font-style: normal;
			font-weight: 400;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			float: left;
			transition: transform .25s linear;
			-webkit-transition: -webkit-transform .25s linear;
		}




		.panel-default > .panel-heading a[aria-expanded="true"] {
			background-color: #eee;
		}

			.panel-default > .panel-heading a[aria-expanded="true"]:after {
				content: "\2212";
				-webkit-transform: rotate(180deg);
				transform: rotate(180deg);
			}

		.panel-default > .panel-heading a[aria-expanded="false"]:after {
			content: "\002b";
			-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
		}


.nav-tabs>li{
  margin-bottom: 0px;
  border-bottom: 1px solid #e6e6e6;
}

.nav-tabs{
  border-bottom: transparent;
  border-right: 1px solid #e6e6e6;
}

.nav-tabs>li>a {
  background: #f5f5f5;
  color: #666;
  border-radius: 0;
  border: 0 none;
  line-height: 24px;
  margin-right:0;
  padding: 13px 15px;
}

.nav-tabs li:last-child{
  border-bottom: 0 none;
} 

.nav-stacked>li+li{
  margin-top: 0;
}

.nav-tabs>li>a:hover{
  background: #1f1f20;
  color:#fff;
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
  border: 0;
  color:#fff;
  background: #1f1f20;
  position: relative;
}

.nav-tabs>li.active>a:after {
  position: absolute;
  content:  "";
  width: auto;
  height: auto;
  border-style:solid;
  border-color: transparent transparent transparent #1f1f20;
  border-width: 25px 22px;
  right: -44px;
  top:0;
}

.tab-wrap{
  border:1px solid #e6e6e6;
  margin-bottom: 20px;
}

.tab-content{
  /*padding: 20px;*/
}

.tab-content h2{
  margin-top: 0;
}

.tab-content img{
  border-radius: 4px;
}

.testimonial h2{
  margin-top: 0;
}

.testimonial-inner {
  color:#858586;
  font-size: 14px;
}

.testimonial-inner .pull-left{
  border-right: 1px solid #e7e7e7;
  padding-right: 15px;
  position: relative;
}

.testimonial-inner .pull-left:after{
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 50%;
  margin-top: -5px;
  background: #FFF;
  -webkit-transform: rotate(45deg);
  border: 1px solid #e7e7e7;
  right: -5px;
  border-left: 0 none;
  border-bottom: 0 none;
}

#partner {
  background: url(../images/partners/partner_bg.png) 50% 50% no-repeat;
  background-size: cover;
}

#partner {
  color: #fff;
  text-align: center;
}

#partner h2, 
#partner h3 {
  color: #fff;
}

.partners ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.partners ul li{
  display: inline-block;
  float: left;
  width: 20%;
}

#conatcat-info{
  background: #fff url(../images/contact.png) no-repeat 90% 0;
  padding: 30px 0;
}

.contact-info i{
  width: 60px;
  height: 60px;
  font-size: 40px;
  line-height: 60px;
  color: #fff;
  background: #000;
  text-align: center;
  border-radius: 10px;
}

.contact-info h2{
  margin-top: 0;
  color: #000;
}

.contact-info{
  color:#000;
}


/***********************
********* generalinfo ******
************************/

.ranktable {
	width:70%;
	margin-right:40px;
}
.rankname {
	display:inline-block;
	margin-left:50px;
}

#ranks {
	 display:inline-block;
	 width:10px;
	 height: 10px;
	 background-color:#ffffff;
}
#ranks a.small, #ranks a.small:visited {
	 /*display:block;*/
	 position:relative; 
	 width:10px; 
	 height:10px;
	 background:#ffffff;
}
#ranks a img {
	border:0;
}
#ranks a.small:hover {
	text-decoration:none;
	/* background-color:#000000;*/
	color:#000000;
}
#ranks a .large {
	position:absolute;
	width:0; 
	height:0;
}
#ranks a.small:hover .large {
	 position:absolute;
	 margin-right:20px;
     padding:2px; 
	 width:145px; 
	 height:60px;
}

/*************************
********* About Us Page CSS ******
**************************/
.center span {
	color: #174884;
}

.skill_text {
  display: block;
  margin-bottom: 60px;
  margin-top: 25px;
  overflow: hidden;
}

.sinlge-skill {
  background:#f2f2f2;
  border-radius: 100%;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: bold;
  height: 200px;
  position: relative;
  width: 200px;
  text-transform: uppercase;
  overflow: hidden;
  margin: 30px 0;

}

.sinlge-skill p em {
  color: #FFFFFF;
  font-size: 38px;
}

.sinlge-skill p {
  line-height: 1;
}

.joomla-skill, 
.html-skill, 
.css-skill, 
.wp-skill {
  position: absolute;
  height: 100%;
  bottom: 0;
  width:100%;
  border-radius: 100%;
  padding: 70px 0;
  text-align: center;
}


.joomla-skill {
  background: rgb(242,242,242); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 28%, rgba(45,125,164,1) 28%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(28%,rgba(242,242,242,1)), color-stop(28%,rgba(45,125,164,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 28%,rgba(45,125,164,1) 28%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 28%,rgba(45,125,164,1) 28%); /* Opera 11.10+ */
  /*background: -ms-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 28%,rgba(45,125,164,1) 28%);*/ /* IE10+ */
  background: linear-gradient(to bottom, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 28%,rgba(45,125,164,1) 28%); /* W3C */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#2d7da4',GradientType=0 );*/ /* IE6-9 */    
}

.html-skill {
  background: rgb(242,242,242); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 9%, rgba(106,164,47,1) 9%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(9%,rgba(242,242,242,1)), color-stop(9%,rgba(106,164,47,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 9%,rgba(106,164,47,1) 9%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 9%,rgba(106,164,47,1) 9%); /* Opera 11.10+ */
  /*background: -ms-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 9%,rgba(106,164,47,1) 9%);*/ /* IE10+ */
  /*background: linear-gradient(to bottom, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 9%,rgba(106,164,47,1) 9%);*/ /* W3C */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#6aa42f',GradientType=0 );*/ /* IE6-9 */
}

.css-skill {
  background: rgb(242,242,242); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 32%, rgba(255,189,32,1) 32%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(32%,rgba(242,242,242,1)), color-stop(32%,rgba(255,189,32,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 32%,rgba(255,189,32,1) 32%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 32%,rgba(255,189,32,1) 32%); /* Opera 11.10+ */
  /*background: -ms-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 32%,rgba(255,189,32,1) 32%);*/ /* IE10+ */
  background: linear-gradient(to bottom, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 32%,rgba(255,189,32,1) 32%); /* W3C */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffbd20',GradientType=0 );*/ /* IE6-9 */
}

.wp-skill {
  background: rgb(242,242,242); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 19%, rgba(219,54,21,1) 19%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(19%,rgba(242,242,242,1)), color-stop(19%,rgba(219,54,21,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 19%,rgba(219,54,21,1) 19%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 19%,rgba(219,54,21,1) 19%); /* Opera 11.10+ */
  /*background: -ms-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 19%,rgba(219,54,21,1) 19%);  IE10+ */
  background: linear-gradient(to bottom, rgba(242,242,242,1) 0%,rgba(242,242,242,1) 19%,rgba(219,54,21,1) 19%); /* W3C */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#db3615',GradientType=0 );*/ /* IE6-9 */
}

.skill-wrap {
  display: block;
  overflow: hidden;
  margin: 60px 0;
}

.team h4 {
  margin-top: 0;
  text-transform: uppercase;
}

.team h5 {
  font-weight: 300;
}

.single-profile-top, 
.single-profile-bottom {
  font-weight: 400;
  line-height: 24px;
}

.single-profile-top, 
.single-profile-bottom  {
  border: 1px solid #ddd;
  padding: 15px;
  position: relative;
}

.media_image {
  margin-bottom: 10px;
}

.team .btn {
  background:transparent;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 3px;
  padding: 1px 5px;
  text-transform: uppercase;
  border:1px solid#ddd;
  margin-right: 3px;
}


ul.social_icons,
ul.tag {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  display: block;
}

ul.social_icons li,
ul.tag li {
  display: inline-block;
  margin-right: 5px;
}

ul.social_icons li  a i{
  border-radius: 50%;
  color: #FFFFFF;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  padding: 0;
  text-align: center;
  width: 25px;
  opacity:.8;
}


.team .social_icons .fa-facebook:hover, 
.team .social_icons .fa-twitter:hover, 
.team .social_icons .fa-google-plus:hover {
  transform: rotate(360deg);
  -ms-transform:rotate(360deg);
  -webkit-transform:rotate(360deg); 
  transition-duration:2s;
  transition-property: all;
  transition-timing-function: ease;
  opacity:1;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}

.team .social_icons .fa-facebook {
  background: #0182c4;
}

.team .social_icons .fa-twitter {
  background: #20B8FF
}

.team .social_icons .fa-google-plus {
  background: #D34836
}


.team-bar .first-one-arrow {
  float: left;
  margin-right: 30px;
  width: 2%;
}

.team-bar .first-arrow {
  float: left;
  margin-left: 5px;
  margin-right: 35px;
  width: 22%;
}

.team-bar .second-arrow {
  float: left;
  margin-left: 5px;
  width: 21%;
}

.team-bar .third-arrow {
  float: left;
  margin-left: 40px;
  margin-right: 12px;
  width: 22%;
}

.team-bar .fourth-arrow {
  float: left;
  margin-left: 25px;
  width: 20%;
}

.team-bar .first-one-arrow hr {
  border-bottom: 1px solid #2D7DA4;
  border-top: 1px solid #2D7DA4;
 }

.team-bar .first-arrow hr {
  border-bottom: 1px solid #2D7DA4;
  border-top: 1px solid #2D7DA4;
 }

.team-bar .second-arrow hr {
  border-bottom: 1px solid #6aa42f;
  border-top: 1px solid #6aa42f;
}

.team-bar .third-arrow hr {
  border-bottom: 1px solid #FFBD20;
  border-top: 1px solid #FFBD20;

}

.team-bar .fourth-arrow hr {
  border-bottom: 1px solid #db3615;
  border-top: 1px solid #db3615;
}

.team-bar {
  margin-bottom: 15px;
  margin-top: 30px;
  position: relative;
}

.team-bar i {
  border-radius: 50%;
  color: #FFFFFF;
  display: block;
  height: 24px;
  line-height: 24px;
  margin-top: -32px;
  overflow: hidden;
  padding: 0;
  text-align: center;
  width: 24px;
  position: absolute;
}

.team-bar .first-arrow .fa-angle-up {
  background:#2D7DA4;
  margin-left:-33px
 }

.team-bar .second-arrow .fa-angle-down {
  background:#6AA42F;
  margin-left: -33px;
}

.team-bar .third-arrow .fa-angle-up {
  background:#FFBD20;
  margin-left: -32px;
}

.team-bar .fourth-arrow .fa-angle-down {
  background:#db3615;
  margin-left: -32px;
}

.team .single-profile-top:before, 
.team .single-profile-top:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.team .single-profile-top:before {
  left:26px;
  bottom: -20px;
  border-width: 10px;
  border-color:#fff transparent transparent transparent;
  z-index: 1;
}


.team .single-profile-top:after {
  left: 25px;
  bottom: -22px;
  border-style: solid;
  border-width: 11px;
  border-color:#ddd transparent transparent transparent;
  z-index: 0;
}

.team .single-profile-bottom:before,
.team .single-profile-bottom:after {
  position: absolute;
  content:"";
  width: 0;
  height: 0;
  border-style: solid;
}

.team .single-profile-bottom:before {
  left:30px;
  top: -20px;
  border-width: 10px;
  border-color: transparent transparent #fff transparent;
  z-index: 1;
}

.team .single-profile-bottom:after {
  left: 29px;
  top: -22px;
  border-style: solid;
  border-width: 11px;
  border-color: transparent transparent #DDD transparent;
  z-index: 0;
}

/***********************
****Service page css****
***********************/

.services {
  padding: 0;
}

.get-started {
  background: none repeat scroll 0 0 #fff !important;
  border-radius: 3px;
  padding-bottom: 30px;
  position: relative;
  margin-bottom: 18px;
  margin-top: 60px;
}

.get-started h2 {
  padding-top: 30px;
  margin-bottom: 20px;
}

.request {
  bottom: -15px;
  left: 50%;
  position: absolute;
  margin-left: -110px;
}

.request h4 {
  position: absolute;
  width: 220px;
  position:relative;
}

	.request h4 a {
		background: #174884;
		color: #fff;
		font-size: 14px;
		font-weight: normal;
		border-radius: 3px;
		padding: 5px 15px;
	}

.clients-area {
  padding: 60px;
}

.clients-comments {
    background-image: url("../images/image_bg.png");
    background-position: center 118px;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.clients-comments img {
  background:#DDDDDD;
  border: 1px solid #DDDDDD;
  height: 182px;
  padding: 3px;
  width: 182px;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}

.clients-comments h3 {
  margin-top: 55px;
  font-weight: 300;
  padding: 0 40px;
}

.clients-comments h4 {
  font-weight: 300;
  margin-top: 15px;
}


.clients-comments  h4  span {
  font-weight: 700;
  font-style: oblique;
}

/*************************
********* Portfolio CSS ******
**************************/
#portfolio {
  margin-top: 70px;
}

#portfolio_page {
  margin-top: 115px;
  padding-bottom: 0;
}

.portfolio-items, 
.portfolio-filter {
  list-style: none outside none;
  margin: 0 0 40px 0;
  padding: 0;
}

.portfolio-filter > li {
  display: inline-block;
}

.portfolio-filter > li a {
  background: none repeat scroll 0 0 #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  margin-right: 20px;
  text-transform: uppercase;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  border: 1px solid #F2F2F2;
  outline: none;
  border-radius: 3px;
}

	.portfolio-filter > li a:hover,
	.portfolio-filter > li a.active {
		color: #fff;
		background: #174884;
		border: 1px solid #174884;
		box-shadow: none;
		-webkit-box-shadow: none;
	}

.portfolio-items > li {
  float: left;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.portfolio-item {
  margin: 0;
  margin-bottom:15px;
  padding:0;
}

/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  /*-ms-transition-duration: 0.8s;*/
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  /*-ms-transition-property: height, width;*/
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
/*  -ms-transition-property: -ms-transform, opacity;*/
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
 /* -ms-transition-duration: 0s;*/
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
/*  -ms-transition: none;*/
  -o-transition: none;
  transition: none;
}
.legend {
	background:url(../../images/maps/legend.jpg);
	width:724px;
	height:174px;
	margin-bottom:25px;
	
}

/*************************
********* Contact Us CSS ******
**************************/
/* --- Map --- */
.map{
	position:relative;
	margin-top:90px;
	margin-bottom:40px;
}

.map iframe{
	width:100%;
	height:450px;
	border:none;
}

.map-grid iframe{
	width:100%;
	height:350px;
	border:none;
	margin:0 0 -5px 0;
	padding:0;
}

#payment-page {
	 padding-top: 0;
}
#payment-page .payment-form
.form-group label {
  color: #4E4E4E;
  font-size: 16px;
  font-weight: 300;
}
#contact-page{
  padding-top: 0;
  background:#fff;
}

#contact-page .contact-form 
.form-group label {
  color: #4E4E4E;
  font-size: 16px;
  font-weight: 300;
}
/* 
.form-group .form-control {
  padding: 0px 0px;
  border-color:#f2f2f2;
  box-shadow: none;
} */

textarea#message{
  resize: none;
  padding: 10px;
}

#contact-page .contact-wrap {
  margin-top: 20px;
}

/*********************
****dg_traffic pages css*****
**********************/
.traffic_fees {
	width:100%;
	background-color:#ffffff;
}
.traffic_fees_head {
	background-color: #174884;
	color: #FFF;
}
.traffic_fees_col1 {width:80%;}
.traffic_fees_col2 {width:20%;}



/*********************
****page-services & page-visa pages css*****
**********************/
#page {
	display: block;
	margin-top: 89px;
	background: #fff;
	padding-bottom: 30px;
	min-height: 68vh;
	grid-template-rows: auto 1fr auto;
}
.tabcontentHeading h2 {
	color:#8A0707 !important;
	text-shadow: 1px 2px 1px #dcdcdc;
	margin: 20px 2px 10px;
}
.ptabcontentHeading {
	margin-top:27px;
}
.ContentBase {
	width:100%;
}
.BoxContainer {
	margin-bottom: 15px;
	/*margin-top:2%;*/
	background: none repeat scroll 0 0 #ffffff;
	border-radius: 3px;
}
.ContentPage {
    margin: 12px;
    height: auto;
	text-align: justify;
}
.collapse-init {
	margin-top: -40px;
}
.ContentPage h2 {
	color: #174884;
	margin: 20px 2px 10px;
}
.ContentPageHeading {
	color:#8A0707;
}
.ContentPage > p {
    margin: 0 0 5px;
	padding: 5px 15px 5px;
	line-height:36px;
}
.linklist {
	width:100%;
}
.linklist ul {
	width:95%;
	margin: 0 0 0 10px;
}
.linklist ul li {
	padding: 0 10px 0 0;
    margin: 14px 12px;
	line-height:36px;
	
}
.linklist ul li:before {
    
	line-height:36px;
    font-size: 16px;
    color: #1641bb;
    list-style-type: none;
    float: right;
    margin-right: -1.1em;
}

.linklist ol {
	width:95%;
	margin: 0 0 0 10px;
}
.linklist ol li {
	padding: 0 10px 0 0;
    margin: 14px 12px;
	line-height:36px;
}
.linklist ol li:before {
	line-height:36px;
    font-size: 16px;
    color: #1641bb;
    list-style-type: none;
    float: right;
    margin-right: -1.1em;
}

/*********************
****TOPayment.html pages css*****
**********************/
#panel, #flip {
    padding: 15px;
}

#panel {
    padding: 50px;
    display: none;
}
.hide {
	display:none;
}
/*********************
****pki-services page css*****
**********************/ 
#pki-services {
	display:block;
	margin-top:89px;
	background: #fff;
    padding-bottom: 30px;
}
.login-title {
    margin-top: 0;
    margin-bottom: 30px;
}

/*.ContentPage h3 {
	text-align:center;
}*/
.login-icon {
   
    width: 170px;
    margin: auto;
    height: 170px;
	border: 1px solid #d0cfcf;
	margin-bottom:10px;
}
.login-icon i {
	margin-left: 6%;
	margin-top:12%;
	font-size:10em;

}
.img-icon-card {
	background-image:url(../images/services/identity_card_black_24dp_2x.png);
	background-size:170px 170px;
	background-repeat:no-repeat;
	width: 170px;
    margin: auto;
    height: 170px;
	
}
.login-icon-phone {
	width: 130px;
    margin: auto;
    height: 130px;
	border: 1px solid #d0cfcf;
	margin-bottom:10px;
}
.login-icon-phone p {
	font-size:12px;
	text-align:center;
	color:#FF0000;
	font-weight: bold;
}

.img-icon-phone {
	background-image:url(../images/services/ic_screen_lock_portrait_black_24dp_2x.png);
	background-size:130px 130px;
	background-repeat:no-repeat;
    margin: auto;
	width: 130px;
    height: 130px;
	
}


.btn-login {
	position: absolute;
	height: 40px;
	border-radius: 2px;
	border: 4px solid #7DAFEC;
	background: #174884;
	bottom: 33px;
	left: 50%;
	margin-top: 5px;
	margin-left: -33.33333333%;
	line-height: 18px;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}


/*********************
****blog page css*****
**********************/
.blog {
	margin-top:89px;
}
.widget {
  margin-bottom: 60px;
  padding-left: 0;
}

.single_comments {
  margin-bottom: 20px;
}

.single_comments img {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

.single_comments p {
  margin-bottom: 0;
}

.widget .entry-meta span {
  display: inline-block;
  margin-right: 10px;
}

.widget h3 {
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.blog_category{
  list-style:none;
  margin:0;
  padding:0;
}

.blog_category li{
  float:none;
  margin-bottom:20px;
}

.blog_category li a {
  background:#f5f5f5;
  border-radius: 4px;
  color: #888;
  display: inline-block;
  padding: 5px 15px;
}

	.blog_category li a:hover {
		background: #174884;
		color: #fff;
	}

.badge:before {
	border-color: transparent transparent transparent #174884;
	border-style: solid;
	border-width: 10px;
	bottom: -8px;
	content: "";
	height: 0;
	left: 5px;
	position: absolute;
	z-index: -99999;
}

.badge {
	background-color: #174884;
	border-radius: 5px;
	color: #fff;
	padding: 8px;
	position: relative;
	left: 60px;
	top: -18px;
	font-weight: normal;
}

.blog_archieve {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.blog_archieve li {
  padding: 10px 0;
  border-bottom: 1px solid #f5f5f5;
}

.blog_archieve li:first-child {
  padding-top: 0;
}

ul.gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.gallery li {
  display: block;
  width: 60px;
  padding: 0;
  margin: 0 4px 4px 0;
  float: left;
}

ul.faq {
  list-style: none;
  margin: 0;
}

ul.faq li {
  margin-top: 30px;
}

ul.faq li:first-child {
  margin-top: 0;
}

ul.faq li span.number {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #34495e;
  color: #fff;
  font-size: 24px;
}

ul.faq li > div {
  margin-left: 70px;
}

ul.faq li > div h3 {
  margin-top: 0;
}


.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog-item {
  border-radius: 0;
  overflow: hidden;
  margin-bottom: 50px;
}

.blog .blog-item .img-blog {
  border-radius: 5px;
  margin-bottom: 45px;
}

.blog .blog-item .blog-content {
  padding-bottom: 25px;
}

.blog .blog-item .blog-content h2 {
  margin-top: 0;
  font-size: 30px;
}

.readmore{
  margin-top: 0;
}

.blog .blog-item .blog-content h3 {
  color: #858586;
  margin-bottom: 40px;
  /* font-weight: 300 */}

.blog .blog-item .blog-content h4 {
  font-size: 14px;
}

.blog .blog-item .entry-meta {
  border-radius: 5px;
  overflow: hidden;
}

.blog .blog-item .entry-meta > span {
  background: #f5f5f5;
  border-top: 1px solid #fff;
  display: block;
  font-size: 12px;
  overflow: hidden;
  padding: 5px;
  text-align: right;
}

#publish_date {
	background: #174884;
	border-bottom: 5px solid #4e4e4e;
	color: #fff;
	padding: 5px 0;
	text-align: center;
}

.blog .blog-item .entry-meta > span {
  color: #ccc;
}

.blog .blog-item .entry-meta > span a {
  font-size: 12px;
  margin-left: 3px;
  font-weight: 300;
  color: #888;
}

ul.pagination > li > a {
	border: 1px solid #F1F1F1;
	margin-right: 5px;
	border-radius: 5px;
	font-size: 16px;
	padding: 5px 14px;
	color: #d0cfcf;
}

ul.pagination > li > a i{
  margin-left:5px;
  margin-right:5px;
}

ul.pagination > li.active > a,
ul.pagination > li:hover > a {
	background-color: #174884 !important;
	border-color: #174884 !important;
	color: #fff;
}

.search_box {
  background-image: url("../images/search_icon.png");
  background-position: 314px 15px;
  background-repeat: no-repeat;
  border-color: #DEDEDE;
  height: 48px;
  outline: medium none;
  box-shadow: none;
}

.form-control:focus {
  box-shadow:none;
  outline: 0 none;
}


ul.tag-cloud, 
ul.sidebar-gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tag-cloud li{
    display: inline-block;
    margin-bottom: 3px;
}

.tag-cloud li a {
  background: #f5f5f5;
  color: #888;
  border: 0;
  border-radius: 4px;
  padding: 8px 15px;
}

	.tag-cloud li a:hover {
		background: #174884;
		color: #fff;
	}

.sidebar-gallery li{
  display: inline-block;
  margin: 0 10px 10px 0;
}

.sidebar-gallery li a {
  border-radius: 4px;
  display: inline-block;
}


/***********************
********* countrylist page css ******
************************/
.countrylist {
	background-color:#ffffff;
	text-align:center;
}
.pgsubhead {
	font-size:16px;
	color:#0000CC;
	
	
	}
ul.countrylist {
	line-height:130%;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.countrylist li{
	float:right;
    list-style:none;
	display: block;
	width:80px;
	padding: 1px 3px;
	margin-top:3px;
	margin-left: 3px;
	font-weight:normal;
	text-align:center;
	background-color: #F5F5F5;
}

/***********************
********* dg-pr-visas-gcc ******
************************/
.occupationslist {
	background-color:#ffffff;
	text-align:center;
	
}

/***********************
********* impphones page ******
************************/
.ropphonestable {
	width:95%;
	margin-right:15px;
	background-color:#ffffff;
}

/***********************
********* regionalinfo page ******
************************/
.regImpPhonetable {
	width:98%;
	text-align:center;
	padding: 0 10px 0 0;
	margin-right: 10px;
	background-color:#fff;
}


/***********************
********* media-center-page ******
************************/

#mediacenter {
  background: #fff url(../images/services/bg_services.jpg);
  background-size: cover;
  display:block;
	margin-top:89px;
    padding-bottom: 30px;
}

#mediacenter .lead,
#mediacenter h2{
  color:#000000;
}

/***********************
*********news-page ******
************************/

#news .news-left
 {border:1px solid #ddd;
  padding:4px;
   margin-right:5px;
    float:left}




/***********************
********* roplawss-page ******
******************/

.iframepdf {
	width:550px;
	height:260px;
}
.note {
	color:#ff0000;
}
.roplawstable {
	width:90%;
	text-align:center;	
	background-color:#ffffff;
	margin-right:50px;	
}
.roplawsheadth {
	text-align:center;
	padding:30px !important;
	font-weight:bold;
	
}

/*
.iframe-container {    
    padding-bottom: 60%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/


/***********************
********* photogallery-page ******
******************/

#cboxTitle {
	text-align:right !important;
	margin-left:-65px !important;
}
#cboxCurrent {
	
}


/***********************
********* governoratemaps-page ******
************************/
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    /*z-index: 1;  Sit on top */
    padding-top: 300px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0,0,0);  Fallback color */
  /*   background-color: rgba(0,0,0,0.9); Black w/ opacity */
}

/* Modal Content (image)*/
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
} 

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button*/
.close {
    position: absolute;
    top: 150px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
} 

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


/***********************
********* alainassahira page ******
************************/
.well {
    min-height: 20px;
	max-width:60%;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #666;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05);
}



/***********************
********* ropmagazin page ******
************************/
.slider1 {
  position: relative;
  margin-top:20px;
}
#about-slider1 {
	width: 450px;
}

.carousel-backg {
	background:rgba(54, 25, 25, .5);
	border: thick #FFF;
	border-radius:5px;
	cursor:pointer;
	padding:5px;
}
div.img-caption {
  background-color: rgba(192, 192, 192, 0.2);   
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  border-left:#999 1px;
  padding-left:15px;
  padding-right:15px;
  padding-bottom:10px;
  text-align:center;
}
.icon-download a i{
  border: 1px solid #777  !important;
  border-radius:50%  !important;
  padding: 8px  !important;
  position: absolute  !important;
  color:#777  !important;
}

.carousel-backg h3{
	color:#FFFFFF;
}
.icon-next {
  left:-1px
}

.icon-prev{
  right:-51px;
}

/***********************
********* sitemap page ******
************************/
 a.pagelinks {
	 display:block;
	padding:.2em 1.8em;
	margin-right:15px;
	margin-bottom:1px;
	
}
.sectioncontainer {
	text-align:right !important;
	margin:10px !important;
}


/***********************
********* Footer ******
************************/
#bottom {
	background: #f5f5f5;
	border-bottom: 3px solid #174884;
	font-size: 14px;
}
.social-box{
	background:#fff;
	box-shadow:0 1px 5px 0 rgba(0,0,0,.12);
	
	
}

.social-box{
	background:#fff;
	box-shadow:0 1px 5px 0 rgba(0,0,0,.12);
	
	
}

.forum-box{
	background:#fff;
	box-shadow:0 1px 5px 0 rgba(0,0,0,.12);
	
}
.social {
	text-align: center;
	font-size: 20px;
	margin-top: 10px;
}



.social-share{
 display: inline-block;
 list-style: none;
 padding: 0;
 margin: 0;
}

ul.social-share li {
  display: inline-block;
}

	ul.social-share li a {
		display: inline-block;
		color: #fff;
		width: 25px;
		height: 25px;
		line-height: 25px;
		text-align: center;
		border-radius: 2px;
	}

ul.social-share li a:hover {
  background: #fff;
  color: #333;
  
}
.copyright {
	text-align:center;
}
ul.copyright li {
  display: inline-block;
}
ul.social-share li a {
	text-align:center;
}

.tedadlogo {
	/*align:center;*/
}

#bottom h3 {
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size:22px;
  color: #000;
}

#bottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#bottom ul li {
  display: block;
  padding: 5px 0;
}

#bottom ul li a {
  color: #174884 ;
}

	#bottom ul li a:hover {
		color: #174884;
	}

#bottom .widget {
  margin-bottom: 0;
}

#footer {
	position: absolute;
	width: 100%;
	padding-top: 1px;
	padding-bottom: 10px;
	color: #fff;
	background: #174884;
	text-align: center;
}

#footer a {
  color: #fff;
}

#footer a:hover {
  color: #000;
}

#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer ul > li {
  display: inline-block;
  margin-left: 15px;
}
@media (max-width: 480px) {
	.logo-md {
		display: none;
	}
}

.fullwidth {
	width: 100%;
	height: 100%;
}

@media (min-width: 1200px) {
	.container {
		min-width: 1200px;
	}
}
    